<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.SubwayMapper">
    <resultMap id="subway" type="java.util.HashMap">
        <result column="id" property="id" jdbcType="INTEGER"></result>
        <result column="line" property="line" jdbcType="VARCHAR"></result>
        <result column="station" property="station" jdbcType="VARCHAR"></result>
        <result column="transfer" property="transfer" jdbcType="ARRAY"></result>
    </resultMap>

    <insert id="addStations" parameterType="java.util.List">
        DELETE FROM subway;
        INSERT INTO subway (line, station,transfer)
        VALUES
        <foreach collection="list" item="item" separator="," index="index">
            (#{item.line},#{item.station},#{item.transfer})
        </foreach>;
    </insert>
</mapper>